<%- include("partials/authHeader"); -%>

<form class="login-form" action="/createblogs" method="post">
	<h2 style="font-weight: 500;">Write a Blog</h2>
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Title</label>
		<input
			type="text"
			class="form-control top"
			id="exampleInputEmail1"
			placeholder="Title"
			name="title"
			autofocus
			required
		/>
		<!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Content</label>
		<textarea
			
			class="form-control middle"
			id="exampleInputPassword1"
			name="content"
			required
			cols="30"
			rows="10"
		></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer"); -%>
